*{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav  {

    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
      color: white;
      align-content: center;
}

h1{
    color: brown;
}